<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BPE template mail</title>
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" bgcolor="#f7f7f7">
      <table style="max-width: 600px; width: 100%" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" bgcolor="#016a7d" style="padding-bottom: 20px; padding-top:20px; background-color: #016a7d">
            <img alt="Logo BPE" width="80px" src="https://bpe.utc.fr/assets/BPE_logo.png">
            <h1 style="color: white;">Base template title</h1>
          </td>
        </tr>
        <tr>
          <td style="position: absolute; top:110px; left: 50%;">
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px;">
            <p>Base template, replace content :)</p>
            <p style="margin-top: 40px;">Cordialement,<br>Le BVE et les élus CEVU</p>
            <img src="https://bpe.utc.fr/assets/CVEC1_signature_rvb.png" width="100px" alt="Logo CVEC">
          </td>
        </tr>
        <tr>
          <td bgcolor="#016a7d" style="padding: 20px 0; text-align: center; background-color: #016a7d">
            <p style="color: white;">Budget participatif étudiant<br><span
                    th:text="${project.session.name}"></span></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
